.header {
  background-color: rgb(255, 251, 25);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.settings {
  display: flex;
<<<<<<< HEAD
  justify-content: space-between;
<<<<<<< HEAD
  text-align: left;
  font-size: large;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 10px;
  padding: 5px;
  width:100%;
}
=======
=======
>>>>>>> aef8308a1e0b3d4018f57e166d6b513a854e250e
  font-size: large;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 10px;
  padding: 5px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}
>>>>>>> bbaf2c29979d5a9a71e25b49e3f3b3022f4ce794
